 *{
    margin:0 ;
    padding: 0;
   font-family: 'Fira Code', monospace;
    box-sizing: border-box;
 }
 html{
  scroll-behavior: smooth;
 }
 body{
    background: #080808;
    color: #fff;
 }
 /* image add */
 #header{
    width: 100%;
    height:100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
   /* background-attachment: fixed;*/
 } 
 /* left padding for logo and menu links keys */
.container{
    padding: 10px 5%;
}
/* move menu links contents to right side */
  nav
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo_chandu{
    width: 140px;
  }
  /* to get meny links in a line */
  nav  ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  /* clr changing for keys */
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  /*adding hover effect for keys  and hidinh them  by making width =0 */
   nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
 nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
/* im chandu */
.header-text h2{
    font-size: 60px;
   margin-top: 20px; 
}
.header-text h2 span {
color: aquamarine;
}
/* about */
#about{
  padding: 80px;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 200%;
  border-radius:  2px;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 20px, 0 40px 0;
}
.tab-links{
margin-right: 18px;
font-size: 18px;
cursor: pointer;
position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin:10px 0;
}
.tab-contents ul li span{
  color: brown;
  font-size: 14px;
}

.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/* skills*/
#skills{
  padding: 30px 0;
}
.skills-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
  .skills-list div {
    background: gray;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;/* corners round */
    transition: background 0.5s, transform 0.5s;
  }
  .skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .skills-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
  }
  .skills-list div:hover{
    background: #ff004f;
    transform: translate(-20px);/* moves the box */
  }
/* porjects/work*/
#work{
  padding: 50px 0;/* 50px topnbtn 0 is lftnrgt */
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width:100% ;
  border-radius:10px ;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position:absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction:column ;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer3{
  font-weight: 500;
  margin: 20px;
}
/* .layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
} */
 .work:hover img {
  transform: scale(1.1);
}
 .work:hover .layer{
  height: 100%;
 }
 .btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition:  background 0.5s;
 }
  .btn :hover{
    background: red;
  }

  /*resume */

#resume {
  padding: 50px 0;
  /* text-align: center; */
}

.resume-section h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.btn-resume {
  display: inline-block;
  background-color: #ff004f;
  color: white;
  padding: 14px 40px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

.btn-resume:hover {
  background-color: #e60046;
  transform: scale(1.05);
}

/* contact */
  .contact-left{
    flex-basis: 50%;
  }
 .contact-left p{
  margin-top: 30px;

 }
 .btn.btn2{
  display: inline-block;
  background: #ff004f;
 }
 .copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0 ;
  background: gray;
  font-weight: 400;
  margin-top: 20px;
 }
 